.boton_personalizado1{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16pt;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 10px;
    border: 1px solid #0016b0;
    width: 146%;
    display: block;
    margin: 20px auto;
  }
 .container1{
   display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}
.button1 {
 
  padding: 0.85em 1.5em;
  font-size: 1 em;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background-color: #5D5D9B;
  border: 1px solid #222;
  border-radius: 0;
 
}
.button1:hover {
  background-color: #8484cf;
}
